body {
  text-align: center;
}

button.open-modal {
  max-width: 500px;
  width: 100%;
  margin-top: 40px;
}

/* Add this css to make the video responsive */

.test_fb_wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.test_fb_wrapper_responsive {
  overflow:hidden;
  padding-bottom:56.08%;
  position:relative;
  height:0;
}

.test_fb_wrapper_responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.modal-content {
	border: 0;
    margin: 0;
    border-radius: 0;
}

.modal-header {
	padding: 0;
  position: absolute;
  top: 4px;
  z-index: 1;
  right: 8px;
  color: #ffffff;
  border: none;
}

.modal-header .close {
	margin-top: 0;
	text-shadow: initial;
	
}
