/* Depends on length of ticker text */
html { max-width: 1280px; max-height: 100vh; margin: 0 auto;}
body {
  background: #c9a050;
  background-image: url('https://hosting.rtcs.live/media/rtcslive-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  overflow:hidden;
  vertical-align: middle;
  justify-content:center;
  margin-left: 36px;
}

p {
  margin: 0;
}

.rtcs {
    display: inline-block;
    vertical-align: top;
    width: 1280px;
    height: 720px;
    margin-top: 0px;
    position: relative;
}

.stream {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 720px;
    padding-right: 880px;
    margin-bottom: 0px;
    position: absolute;
}

.camera {
    display: inline-block;
    vertical-align: top;
    width: 880px;
    height: 496px;
    padding-bottom: 224px;
    margin-left: 133px;
    position: absolute;
}

.nt {
    display: inline-block;
    z-index: 5;
    vertical-align: top;
    width: 1280px;
    height: 720px;
    margin-left: 0px;
    position: absolute;
}
